<%= render 'customers/table' %>
<h1>Work Orders</h1>

<%= link_to(new_workorder_path) do %>
  <button type="button" class="btn btn-primary">New Workorder</button>
<% end %>
<%= render 'workorders/table' %>