<h1>Customers</h1>

<a href="<%= new_customer_path %>"><button type="button" class="btn btn-primary">New Customer</button></a>
<br>
<% if !current_page?(root_path) %>
  <br>
    <%= render 'customers/search_form' %>
  <br>
<% end %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
          <%= render 'customers/customerrow', customer: customer %>
        <% end %>
    </tbody>
  </table>
</div>