<div class="table-responsive">
  <table id="cust_items_table" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
        <th scope="col">Size</th>
        <th scope="col">Status</th> <!-- ultimately want this tied to if the bike has a current open workorder -->
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% @items.each do |cust_item| %>
          <%= render 'cust_items/table_item', item: cust_item %>
        <% end %>
    </tbody>
  </table>
</div>