<h1>Editing cust item</h1>

<%= render "form", cust_item: @cust_item %>

<br>

<div>
  <%= link_to "Show this cust item", @cust_item %> |
  <%= link_to "Back to cust items", cust_items_path %>
</div>
